<%- include('partials/headerlogin') %>
<div class="w-full h-full " id="container">
    <h1 class="text-center text-2xl pt-10 mb-5">Cadastro</h1>
        <% if(success) { %>
            <h2 class="text-xl font-bold text-center">Cadastro efetuado com sucesso!</h2>
        <% } else { %>
            <% if(fails){ %>
               <div class="pt-5">
                <% fails.forEach((erro)=>{ %>
                    <p class="text-white  p-3 text-lg"><%= erro %></p>
                <% }) %>
               </div>
            <% } %>
            <form class="flex flex-col p-4 gap-2  " onsubmit="return validate()" action="./cadastro" method="post" id="cadastrarformulario">
                <label class="text-lg pl-1">Usuario/Nome</label>
                <p id="userfail" class="text-red-400"></p>
                <input type="text" name="nome" placeholder="Usuario" id="nome" class="mb-6 h-14 px-2 text-lg outline-none border-none shadow-md bg-gray-50" title="Somente letras são permitidas" maxlength="12" required>
        
                <label class="text-lg pl-1">Email</label>
                <p id="emailfail" class="text-red-400"></p>
                <input type="email" name="email" placeholder="email@email.com" id="email" class="mb-6 outline-none border-none shadow-md bg-gray-50 h-14 px-2 text-lg"  maxlength="30" required>
        
                <label class="text-lg pl-1">Senha</label>
                <p id="passfail" class="text-red-400"></p>
                <input type="password" name="senha" placeholder="********" id="senha" class="mb-6  outline-none border-none shadow-md bg-gray-50 h-14 px-2 text-lg" maxlength="15" required>
        
                <label class="text-lg pl-1">Repita a senha</label>
                <p id="passfail2" class="text-red-400"></p>
                <input type="password" name="senha2" placeholder="********" id="senha2" class="mb-6 outline-none border-none shadow-md bg-gray-50 h-14 px-2 text-lg" maxlength="15"  required>   
        
                <button type="submit" id="button-cadastrar" class=" bg-black text-white h-16 rounded-lg outline-none border-none shadow-md text-lg" >Cadastrar</button>
            </form>
        <% } %>
   <div class="flex gap-1 w-full justify-center text-lg pt-5 mb-10">
        <h2>Já tem uma conta?</h2><a href="/login"><h2 class="font-bold hover:underline">faça login aqui!</h2></a>
   </div>
</div>
<script src="/script/script.js"></script>