<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache" content="public">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- <script src="./dist/bundle.js"></script> -->
    <link rel="stylesheet" href="/css/output.css" type="text/css">
    <title>It's Fashion Modas</title>
</head>
<body class=" w-screen flex justify-center">
    <div class="menu-mobile-items w-56 bg-white shadow-xl fixed h-screen  right-0 z-40 pr-5 pt-5 translate-x-56 transition-transform lg:hidden">
        <!-- CLOSE MENU-->
        <div class="w-full flex justify-end">
            <img src="/icons/close.png" alt="" id="close"  style="width: 24px; height: 24px;">
        </div>
        <div class="flex flex-col w-full items-end pt-10 gap-10">
            <a href="/" class="font-bold">INICIO</a>
            <a href="#lancamentos" class="font-bold">LANÇAMENTOS</a>
            <a href="#ofertas" class="font-bold">OFERTAS</a>
            <a href="#servicos" class="font-bold">SERVIÇOS</a>
            <a href="#fale-conosco" class="font-bold">CONTATO</a>
            <a class="font-bold">Fazer Login</a>
        </div>
    </div>
    <div class=" h-full relative w-full max-w-5xl">

        <header>
            <div class="menu-mobile w-full flex justify-between flex-row-reverse  px-5 pt-2 md:hidden">
                <img src="/icons/menu-aberto.png" alt="" class=" cursor-pointer" id="menu"  style="width: 24px; height: 24px;">
                <a href="/"><img src="/icons/left-arrow.png" alt=""></a>
            </div>
            <!-- MENU DESKTOP-->
            <div class="hidden md:flex py-10 w-full md:justify-around lg:justify-between items-center">
                <div>
                    <h1 class=" font-bold text-3xl">IT'S FASHION</h1>
                    <h2 class="italic">Roupas, calçados e acessórios</h2>
                </div>
                <nav class="flex gap-5 md:text-xs lg:text-sm">
                    <a href="/" class="font-bold">INICIO</a>
                    <a href="#lancamentos" class="font-bold">LANÇAMENTOS</a>
                    <a href="#ofertas" class="font-bold">OFERTAS</a>
                    <a href="#servicos" class="font-bold">SERVIÇOS</a>
                    <a href="#fale-conosco" class="font-bold">CONTATO</a>
                    <a href="/login" class="font-bold">FAZER LOGIN</a>
                </nav>
            </div>
            
        </header>
        <section class="w-full h-36  flex items-center justify-center flex-col md:hidden">
            <h1 class=" font-bold text-3xl">IT'S FASHION</h1>
            <h2 class="italic">Roupas, calçados e acessórios</h2>
       </section>